[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
scipy = "*"
pytest = "*"
requests = "*"
selenium = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
